@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a class="nav-link">SMS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <li><a class="nav-link text-dark" href="about.html">About</a></li>
                    <li><a class="nav-link text-dark" href="contact.html">Contact</a></li>
                }
                else
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="nav-link text-dark"><span>Manage User</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register User</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="RolesManager" asp-action="Index">Manage Roles</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="Index">Manage User Roles</a></li>
                            </ul>
                        </li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Enrollments" asp-action="Index">Enrollments</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Fees" asp-action="Index">Fees</a>
                    }
                    <a class="nav-link text-dark" asp-area="" asp-controller="Payments" asp-action="Index">Payments</a>
                }
                    <partial name="_LoginPartial" />
            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->


    </div>

</header>
