@using SMS.Enums
@model SMS.Models.Course
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Offer Course";
}

<h1>Offer Course</h1>

<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-7 my-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            </div>
        <div class="col-md-5 my-2">
            <div class="form-group">
                <label asp-for="CourseType" class="control-label"></label>
                <select class="dropdown form-control" asp-for="CourseType" asp-items="@Html.GetEnumSelectList<CourseTypes>()">
                    <option selected value="">Select</option>
                </select>
                <span asp-validation-for="CourseType" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-12 my-2">
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label"></label>
                <textarea asp-for="CourseDescription" class="form-control"></textarea>
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            </div>
        <div class="col-md-4 my-2">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOffered" /> @Html.DisplayNameFor(model => model.IsOffered)
                </label>
            </div>
            </div>
        <div class="row mt-2">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
     <a class="btn btn-secondary my-5" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
