@model SMS.Models.Fees

@{
    ViewData["Title"] = "Create Fee";
}

<h1>Create Fee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="FeeAmount" class="control-label"></label>
                <input asp-for="FeeAmount" class="form-control" />
                <span asp-validation-for="FeeAmount" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FeeDescription" class="control-label"></label>
                <input asp-for="FeeDescription" class="form-control" />
                <span asp-validation-for="FeeDescription" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CoursesId" class="control-label"></label>
                <select asp-for="CoursesId" class="form-control" asp-items="ViewBag.CourseId"></select>
            </div>          
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
