@model SMS.Models.Payment

@{
    ViewData["Title"] = "Make Payment";
}

<h1>Make Payment</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input disabled asp-for="PaymentDate" class="form-control" value="@ViewBag.TodayDate" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="EnrollmentsId" class="control-label">Enrolled Courses</label>
                <select asp-for="EnrollmentsId" class ="form-control" asp-items="ViewBag.EnrollmentsId"></select>
            </div>
            <div class="form-group my-2">
                <label class="control-label">Payee: <span class="text-muted">@ViewBag.PayeeName</span></label>
                <input type="hidden" asp-for="PayeeId" value="@ViewBag.PayeeId" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Pay" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
