@model SMS.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentId" />
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentsId" class="control-label"></label>
                <select asp-for="EnrollmentsId" class="form-control" asp-items="ViewBag.EnrollmentsId"></select>
                <span asp-validation-for="EnrollmentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeesId" class="control-label"></label>
                <select asp-for="FeesId" class="form-control" asp-items="ViewBag.FeesId"></select>
                <span asp-validation-for="FeesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayeeId" class="control-label"></label>
                <select asp-for="PayeeId" class="form-control" asp-items="ViewBag.PayeeId"></select>
                <span asp-validation-for="PayeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
