@model IEnumerable<SMS.Models.Payment>

@{
    ViewData["Title"] = "My Payments";
}

<h1>Payment Records</h1>
@if (User.IsInRole("Student"))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Make Payments</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Fee Paid
            </th>
            <th>
                Payment Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Payments)
        {
            <tr>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.FeeAmount
                </td>
                <td>
                    @item.PaymentDate
                </td>
            </tr>
        }
    </tbody>
</table>
