@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <h2>There is no better way to achieve success than Education</h2>
        <a class="btn-get-started" asp-area="" asp-controller="OfferedCourses" asp-action="Index">Get Started</a>
    </div>
</section><!-- End Hero -->
<!-- ======= Popular Courses Section ======= -->
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Courses</h2>
            <p>Popular Courses</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            @foreach (var item in ViewBag.courses)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch my-3">
                    <div class="course-item" style="width :100%">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>@item.CourseName</h4>
                            </div>
                            <h3>@item.CourseType</h3>
                            <p>@item.CourseDescription</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <a class="btn btn-success" asp-area="" asp-controller="Enrollment" asp-action="Create">Enrollments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- End Course Item-->
        </div>
    </div>
</section>
<!-- End Popular Courses Section -->
