@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
<div class="container" style="height: 80%; width: 80%"> 
    <img src="~/img/stop.jpg" style="height: 80%; width: 80%" />
</div>
